.navbar-brand {
  padding: 18px 20px;
  display: inline-block;
}

.pt-1 {
  padding-top: 0.5rem;
}

.pt-4 {
  padding-top: 3rem;
}

.center {
  text-align: center;
}

html {
  --scrollbarBG: #0e0e0e;
  --thumbBG: #3c6e7f;
}
body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}
